CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
android-annotation-stubs filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
AUTHORS filter=lfs diff=lfs merge=lfs -text
CHANGELOG.md filter=lfs diff=lfs merge=lfs -text
javatests filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
test_defs.bzl filter=lfs diff=lfs merge=lfs -text
util filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
lint-baseline.xml filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
BUILD filter=lfs diff=lfs merge=lfs -text
build_defs.bzl filter=lfs diff=lfs merge=lfs -text
gwt filter=lfs diff=lfs merge=lfs -text
java filter=lfs diff=lfs merge=lfs -text
resources filter=lfs diff=lfs merge=lfs -text
WORKSPACE filter=lfs diff=lfs merge=lfs -text
workspace_defs.bzl filter=lfs diff=lfs merge=lfs -text
examples filter=lfs diff=lfs merge=lfs -text
jarjar-rules.txt filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
